<h1><%= @transaction_state %> transactions</h1>

<%= will_paginate @transactions %>

<div id="transactions-list">
  <% @transactions.each do |transaction| %>
    <%= div_for transaction, class: transaction_class(transaction) do %>
      <span class="account-name"><%= transaction.account.name %></span>
      <span class="amount"><%= transaction.amount.format %></span>
      <span class="description">
        <%= "#{transaction.payment.camper.camp.name} - 
        #{transaction.payment.camper.name}" %>
      </span>
      <span class="status"><%= 'failed' unless transaction.success? %></span>
      <span class="date"><%= transaction.created_at.strftime("%b %-d, %Y") %></span>
      <span class="more"><i class="icon-chevron-right"></i></span>
    <% end %>
  <% end %>
</div>
