<h1><%= @transaction_state %> transactions</h1>

<%= will_paginate @transactions %>

<div id="transactions-list">
  <% @transactions.each do |transaction| %>
    <%= link_to transaction, class: (transaction.success? ? 'success' : 'failed') do %>
      <span class="amount"><%= transaction.amount.format %></span>
      <span class="description">
        <%= "#{transaction.payment.source.camp.name} - 
        #{transaction.payment.source.name}" %>
      </span>
      <span class="status"><%= 'failed' unless transaction.success? %></span>
      <span class="date"><%= transaction.created_at.strftime("%F %r") %></span>
      <span class="more"><i class="icon-chevron-right"></i></span>
    <% end %>
  <% end %>
</div>
