<h1>All accounts</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Camp count</th>
    <th>Camper count</th>
    <th>Payments</th>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <%= content_tag_for :tr, account do %>
        <td><%= link_to account.name, account %></td>
        <td><%= account.camps.count %></td>
        <td><%= number_with_delimiter account.campers.count %></td>
        <td><%= link_to 'Payments', account_payments_path(account) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
