<h1><%= @account.name %></h1>
<%= @account.print_address %>
<%= @account.print_contact_info %>

<h3>Account camps</h3>
<ul>
  <% @account.camps.each do |camp| %>
    <li><%= link_to camp.name %></li>
  <% end %>
</ul>

<h3>Account invoices</h3>
<ul>
  <% @account.invoices.each do |invoice| %>
    <li><%= link_to invoice.amount.format, main_app.invoice_path(invoice) %></li>
  <% end %>
</ul>
